body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}
/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  background: linear-gradient(rgb(0, 7, 42), rgb(0, 15, 90));
  color: #fff;
}

input, button {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}


/* Globals */
.row, .column {
  display: flex;
}

.column {
  flex-direction: column;
}

.split {
  justify-content: space-between;
}

.y-center {
  align-items: center;
}

.x-center {
  justify-content: center;
}

.bottom {
  justify-content: flex-end;
}

/* Animations */
@keyframes flash {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Custom Styles */
header {
  padding: 15px 10%;
  margin-bottom: 15px;
  color: #fff;
}

header .input-wrap {
  margin-left: 35px;
  position: relative;
}

header .input-wrap input {
  padding: 5px 25px 5px 6px;
  min-width: 250px;
  font-size: .9rem;
  border-radius: 1px;
}

header .input-wrap i.fa-search {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #999;
  cursor: pointer;
}

header p {
  margin-right: 5px;
}

header span.auth {
  cursor: pointer;
  position: relative;
  margin-left: 5px;
}

header span.auth:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -3px;
  left: 0;
  background: #ddd;
  transition: opacity .2s;
  opacity: 0;
}

header span.auth:hover:after {
  opacity: 1;
}

.callback {
  min-height: 60vh;
}

.callback i.fa-spinner {
  margin-bottom: 15px;
  font-size: 3rem;
}

.callback p {
  color: #ddd;
  animation: flash 1.5s infinite alternate;
}

/* Dashboard */
.dashboard {
  padding: 25px 7%;
}

.tabs {
  margin-bottom: 25px;
  position: relative;
}

.tabs:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #777;
  width: 70%;
  height: 1px;
}

.tabs span {
  border-bottom: 1px solid transparent;
  padding: 0 5px 8px;
  transition: border .2s;
  cursor: pointer;
}

.tabs span:hover, .tabs span.active {
  border-bottom: 1px solid #fff;
}

p.query {
  margin-bottom: 20px;
}

.listing {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.listing .giphy {
  height: 150px;
  background-size: cover;
  background-position: center;
}

.listing .giphy-controls {
  padding: 10px;
  background: rgba(0, 0, 0, .2);
}

.listing .giphy .giphy-controls i.fa-heart {
  cursor: pointer;
  transition: transform .2s;
}

.listing .giphy .giphy-controls i.fa-heart.added {
  color: rgb(52, 96, 255);
  transform: scale(1.2);
}

.listing .giphy .giphy-controls i.fa-heart:hover {
  transform: scale(1.2);
}

.listing .giphy .giphy-controls button {
  padding: 2px 5px;
  border-radius: 2px;
  color: #fff;
  background: none;
  border: 1px solid #fff;
  transition: all .2s;
}

.listing .giphy .giphy-controls button:hover {
  background: #fff;
  color: #444;
}